.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.card1 {
  display: flex;
  justify-content: center;
  width: 12rem;
  height: 15rem;
  margin: 2rem;
  background: green;
}

.card2 {
  display: flex;
  justify-content: center;
  width: 12rem;
  height: 15rem;
  margin: 2rem;
  background: green;
}

.card3 {
  display: flex;
  justify-content: center;
  width: 12rem;
  height: 15rem;
  margin: 2rem;
  background: green;
}

.card4 {
  display: flex;
  justify-content: center;
  width: 12rem;
  height: 15rem;
  margin: 2rem;
  background: green;
}

.card5 {
  display: flex;
  justify-content: center;
  width: 12rem;
  height: 15rem;
  margin: 2rem;
  background: green;
}

.card6 {
  display: flex;
  justify-content: center;
  width: 12rem;
  height: 15rem;
  margin: 2rem;
  background: green;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
}

.score {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.failAttempt {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

h2 {
  margin-right: 0.3rem;
}
.blackCat1 {
  display: none;
}

.blackCat2 {
  display: none;
}

.greyCat1 {
  display: none;
}

.greyCat2 {
  display: none;
}

.orangeCat1 {
  display: none;
}

.orangeCat2 {
  display: none;
}
